@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('../fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/AtlasGrotesk-Medium-Web.woff') format('woff'),
     url('../fonts/AtlasGrotesk-Medium-Web.ttf') format('truetype'),
     url('../fonts/AtlasGrotesk-Medium-Web.svg#AtlasGrotesk-Medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
a {
	color: blue;
}
/* all */
::-webkit-input-placeholder { color:blue; font-weight: 400 }
::-moz-placeholder { color:blue; font-weight: 400  }
:-ms-input-placeholder { color:blue; font-weight: 400  }
input:-moz-placeholder { color:blue; font-weight: 400  }

.float_left{float: left;}
.float_right{float: right;}
.align_right{text-align: right;}

pre{
	padding-top: 60px;
}
h1,h2,h3,h4{font-weight: 400;}
select{
  background: transparent;

  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  
  color: blue;
  border: 3px solid;

}
body.loading {
	cursor: wait;
}
body {
	padding: 0; margin: 0;
	font: 16px 'Atlas Grotesk Web', Helvetica, Arial, sans-serif;
	line-height: 1;
	height: 100%;
	color: blue;
}

header{
	position: fixed;
	top:0px;
	padding: 20px;
	background-color: white;
	width:100%;
  z-index: 1;
  
}

section{
	margin-top: 74px;
  margin-bottom: 59px;
	padding: 0 20px;
}

footer{
	position: fixed;
	bottom:0px;
	padding: 20px;
	width:100%;
	background-color: white;
}

body.loading #loader{display: block;}
#loader{
  position: fixed; top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8); 
  cursor: wait;
  display: none;
}

.offside_top{
	-webkit-transform: translate3d(0,-88px,0);   /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3d(0,-88px,0);   /* IE 9 */
            transform: translate3d(0,-88px,0);   /* Firefox 16+, IE 10+, Opera */
}
.offside_bottom{
	-webkit-transform: translate3d(0,54px,0);   /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3d(0,54px,0);   /* IE 9 */
            transform: translate3d(0,54px,0);   /* Firefox 16+, IE 10+, Opera */
}

.sepBlue{height: 3px; background-color: blue;}

.row{
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}

.fiboA{
	width: calc(100% - (100% / 1.618));
	display: inline-block;
	vertical-align: top;
}
.fiboB{
	width: calc(100% / 1.618);
	display: inline-block;
	vertical-align: top;
}

p{margin-bottom: 1em;}
p:last-child{margin-bottom: 0;}

.btn{
  padding: 10px 30px;
  border: 3px solid;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
h1{
}
nav li{
	float: left;
	margin-right: 10px;
	min-width: 100px;
}

.sort{padding: 0 10px;}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer li{
	float: right;
	margin-left: 10px;
}
/*------------------------------------*\
    LISTE
\*------------------------------------*/

article{
	padding: 0; 
}
.liste .article_inner{display: inline-block; width: 100%;}

.article_header{}
.article_header .fiboA{
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis; /* pour le reste du monde */
  white-space: nowrap;
  padding-right: 10px;
}
.article_content{
  display: none;
}
article.open .article_content{
  display: block;
}

article.open .article_header{
  background-color: blue;
}
article.open .article_header,
article.open .article_header a{color: white;}

article.open .fiboA{padding-left: 10px;}

.span3{
  width: calc(100% / 3);
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis; /* pour le reste du monde */
  white-space: nowrap;
}

.list_footer{padding: 20px 0;}

.share{text-align: right;padding-right: 10px;}
/*------------------------------------*\
    PLAYLIST
\*------------------------------------*/
.ost_header{background-color: #5454FC; color: white;}
.ttp:nth-child(odd){background-color: #F8F8F8;}

.player_ost .pause{display: none;}

.ttp{
    font-size: 16px;
    position: relative;
    height: 36px;
    background-color: white;
    cursor: pointer;
    color: blue;
}

.loading .ttp{cursor: progress;}

.track_title{
    overflow: hidden;
    -o-text-overflow: ellipsis; /* pour Opera 9 */
    text-overflow: ellipsis; /* pour le reste du monde */
    white-space: nowrap;
}
.ttp .controls span{display: none}
.ttp .controls .play{display: inline-block}

.ttp.currentItemPlaying,
.ttp:hover{
  background-color: blue;
  color: white;
}

/*------------------------------------*\
    PLAYER
\*------------------------------------*/
#player .controls span.play{display: none;}
#player.state_pause .controls span.pause{display: none;}
#player.state_pause .controls span.play{display: inline-block;}
.ttp.currentItemPlaying .play{display: none}
.ttp.currentItemPlaying .pause{display: inline-block;}

#ph{display: none;}

#player.offside_bottom{display: none;}
#player{
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  background-color: blue;
  color: white;
}
#player .controls{padding: 20px;}
#player .controls span{
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.timeline{position: relative; height: 5px; background-color: white}
.buffer,
.scrubber,
.track_seek{
    position: absolute;
    width: 0;
    height: 100%;
}
.track_seek{width: 100%;}
.buffer,
.scrubber{background-color: blue;}
.buffer{opacity: 0.6}
.scrubber{opacity: 1}

.fa-play,
.fa-pause{line-height: 13px;}


/*------------------------------------*\
    MODAL
\*------------------------------------*/
.modal{
  position: fixed; top: 57px;left: 0;
  padding: 20px;
  width: 100%; height: 100%;
  background-color: white;
  color: blue;
  display: none;
}

.modal_title,
.modal_content,
.sh_title{
  font-size: 7em;
  color: blue;
  text-align: left;
}
.sh_title{}
.modal_header{border-bottom: 3px solid; margin-bottom: 20px;}
.modal_content li{float: left; margin-right: 20px;}
/*------------------------------------*\
    SEARCH
\*------------------------------------*/
button[type='submit']{
  border: none;
  color: blue;
  background-color: transparent;
}
.morphsearch .morphsearch-input{opacity: 0; width: 0; color: white}
.morphsearch .morphsearch-submit{cursor: pointer;}
.morphsearch .morphsearch-input,
.morphsearch .morphsearch-submit{
  padding: 0;
  vertical-align: top;
  font-size: 1em;
  border:none;
  color: blue;
}

.morphsearch.open{
  position: fixed;top: 74px; left: 0;
  padding: 0 20px;
  height: calc(100% - 74px);
  background-color: white;
  width: 100%;
  text-align: left;
}

.morphsearch.open .morphsearch-input,
.morphsearch.open .morphsearch-submit{
  font-size: 7em;
  opacity: 1;
  border-bottom: 3px solid blue;
}
.morphsearch.open .morphsearch-input {
  opacity: 1;
  width: 100%;
}
.morphsearch.open .morphsearch-submit{display: none;}


input[type="search"] { /* reset normalize */
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
  outline: none;
}

.morphsearch-close {
  width: 36px;
  height: 36px;
  position: fixed;
  right: 20px;
  top: 20px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  /*-webkit-transform: scale3d(0,0,1);
  transform: scale3d(0,0,1);*/
}

.morphsearch.open .morphsearch-close {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.morphsearch-close::before,
.morphsearch-close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  border-radius: 3px;

  background: blue;
}

.morphsearch-close:hover.morphsearch-close::before,
.morphsearch-close:hover.morphsearch-close::after {
  opacity: 1;
}

.morphsearch-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.morphsearch-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}