@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('../fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/AtlasGrotesk-Medium-Web.woff') format('woff'),
     url('../fonts/AtlasGrotesk-Medium-Web.ttf') format('truetype'),
     url('../fonts/AtlasGrotesk-Medium-Web.svg#AtlasGrotesk-Medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
a {
	color: blue;
}
/* all */
::-webkit-input-placeholder { color:blue; font-weight: 400 }
::-moz-placeholder { color:blue; font-weight: 400  }
:-ms-input-placeholder { color:blue; font-weight: 400  }
input:-moz-placeholder { color:blue; font-weight: 400  }
input:focus, textarea:focus{
  border: none;
}
textarea{
  width: 100%;
  padding: 20px;
  color: blue;
  border: 3px solid;
}
textarea:focus{
  border: 3px solid;
}
button:focus {outline:0;}

.float_left{float: left;}
.float_right{float: right;}
.align_right{text-align: right;}

pre{
	padding-top: 60px;
}
h1,h2,h3,h4{font-weight: 400;}
select{
  background: transparent;

  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  
  color: blue;
  border: 3px solid;

}
.ilsep{
  width: 10px;
  display: inline-block;
}

body.loading {
	cursor: wait;
}
body {
	padding: 0; margin: 0;
	font: 16px 'Atlas Grotesk Web', Helvetica, Arial, sans-serif;
	line-height: 1;
	height: 100%;
	color: blue;
}

header{
	position: fixed;
	top:0px;
	padding: 20px 20px 15px;
	background-color: white;
	width:100%;
  z-index: 1;
  
}

section{
	margin-top: 53px;
  margin-bottom: 82px;
	padding: 0 20px;
}

footer{
	position: fixed;
	bottom:0px;
	padding: 20px;
	width:100%;
	background-color: white;
  z-index: 1;
}

body.loading #loader{display: block;}
#loader{
  position: fixed; top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.9); 
  background-image:url(/img/tsbst-logo-200.gif);
  background-position: center;
  background-repeat: no-repeat;
  cursor: wait;
  display: none;
}

.offside_top{
	-webkit-transform: translate3d(0,-88px,0);   /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3d(0,-88px,0);   /* IE 9 */
            transform: translate3d(0,-88px,0);   /* Firefox 16+, IE 10+, Opera */
}
.offside_bottom{
	-webkit-transform: translate3d(0,54px,0);   /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translate3d(0,54px,0);   /* IE 9 */
            transform: translate3d(0,54px,0);   /* Firefox 16+, IE 10+, Opera */
}

.sepBlue{height: 3px; background-color: blue;}
.sepWhite{height: 3px; background-color: white;}
.sep10{height: 10px;}
.sep20{height: 20px;}

.row{
  display: inline-block;
  width: 100%;
  /*padding: 10px 0 6px 0;*/
  padding: 10px 0 7px 0;
}

.fiboA{
	width: calc(100% - (100% / 1.618));
	display: inline-block;
	vertical-align: top;
}
.fiboB{
	width: calc(100% / 1.618);
	display: inline-block;
	vertical-align: top;
}

p{margin-bottom: 1em;}
p:last-child{margin-bottom: 0;}

.btn{
  padding: 10px 30px 7px 30px;
  border: 3px solid;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
h1{
}
nav li{
	float: left;
	margin-right: 10px;
	min-width: 100px;
}

.sort{padding-left: 5px;}
#s_btn{cursor: pointer;}
#s_btn:hover{color: black;}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer li{
	float: right;
	margin-left: 10px;
}
/*------------------------------------*\
    LISTE
\*------------------------------------*/

article{
	padding: 0; 
}
.liste .article_inner{display: inline-block; width: 100%;}
.liste_header.row{padding-top: 0;}
.liste_header.row,
.liste_content .row{
    padding-bottom: 7px!important;
}
.article_header{}
.article_header .fiboA{
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis; /* pour le reste du monde */
  white-space: nowrap;
  padding-right: 10px;
}
.article_content{
  display: none;
}
article.open .article_content{
  display: block;
}

article.open .article_header,
article.open .article_footer{
  background-color: blue;
}
article.open .article_header,
article.open .article_header a,
article.open .article_footer,
article.open .article_footer a{color: white;}

article.open .fiboA{padding-left: 10px;}

.span3{
  width: calc(100% / 3);
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis; /* pour le reste du monde */
  white-space: nowrap;
}

.list_footer{padding: 42px 0;}


.share{text-align: left;cursor: pointer; display: none;}
.share:hover{color: black;}

article.open .share{display: block;}

.article_footer{display: none;}
article.open .article_footer{display: block;}

a.more{
  display: block;
  width: 100%;
  text-align: center;
}
a.more:hover{
  color: white;
  background-color: blue;
}

.article_disqus .fiboB{
  border-top: 3px solid;
}
/*------------------------------------*\
    PLAYLIST
\*------------------------------------*/
.article_content > div:nth-child(odd){background-color: #F8F8F8;}
.ost_header,
.article_footer{background-color: #5454FC!important; color: white;}
.ttp:nth-child(odd){}


.player_ost .pause,
.player_ost .playing{display: none;}

.player_ost i{margin-top: -2px;}
.player_ost i,
.player_ost span{display: inline-block;vertical-align: top}
.ttp{
    font-size: 16px;
    position: relative;
    /*height: 36px;*/
    background-color: white;
    cursor: pointer;
    color: blue;
}

.loading .ttp{cursor: progress;}

.track_title{
    overflow: hidden;
    -o-text-overflow: ellipsis; /* pour Opera 9 */
    text-overflow: ellipsis; /* pour le reste du monde */
    white-space: nowrap;
}
.ttp .controls span{display: none}
.ttp .controls .play{display: inline-block}

.ttp.currentItemPlaying,
.ttp:hover{
  background-color: blue !important;
  color: white;
}

/*------------------------------------*\
    PLAYER
\*------------------------------------*/
#player .fiboA,
#player .fiboB{
  vertical-align: middle;
}
#player .controls span.play{display: none;}
#player.state_pause .controls span.pause{display: none;}
#player.state_pause .controls span.playing{display: none;}
#player.state_pause .controls span.play{display: inline-block;}
.ttp.currentItemPlaying .play{display: none}
.ttp.currentItemPlaying .playing{display: inline-block;}

.ttp.currentItemPlaying .controls:hover span.playing{display: none;}
.ttp.currentItemPlaying .controls:hover span.pause{display: inline-block;}

#player .controls span.play,
#player .controls span.pause{
  font-size: 2em;
  vertical-align: middle;
}

#ph{display: none;}

#player.offside_bottom{display: none;}
#player{
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  background-color: blue;
  color: white;
}
#player .controls{padding: 20px;}
#player .controls span{
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.timeline{
  position: relative; 
  height: 5px; 
  background-color: white;
}
.timeline:hover{height: 10px;}
.timeline_bg,
.buffer,
.scrubber,
.track_seek{
    position: absolute;
    width: 0;
    height: 100%;
}
.track_seek{width: 100%;cursor: pointer;}
.timeline_bg,
.buffer,
.scrubber{background-color: blue; width: 100%;}
.timeline_bg{opacity: 0.3; }
.buffer{opacity: 0.4}
.scrubber{opacity: 1}

.fa-play,
.fa-pause
.fa-playing{line-height: 13px;}

.controls .backward,
.controls .play,
.controls .pause,
.controls .playing,
.controls .forward,
.controls .mute{cursor: pointer;}
.controls .backward:hover,
.controls .play:hover,
.controls .pause:hover,
.controls .playing:hover,
.controls .forward:hover,
.controls .mute:hover{color: black;}

.equalizer{
  width:13px;
  height:13px;
  overflow:hidden;
}
.equalizer span{
  display: inline-block !important;
  width:2px;
  height:100%;
  background-color:white;
  margin-right:2px;
  vertical-align:top;
  -webkit-animation: equalize 0.6s infinite linear;
          animation: equalize 0.6s infinite linear;
}
.equalizer span:last-child{margin-right:0}

.equalizer span:nth-child(1){
  -webkit-animation-delay: 1s;  
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.equalizer span:nth-child(2){
  -webkit-animation-delay: 0.5s;  
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}


/* The animation code */
@-webkit-keyframes equalize {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/*------------------------------------*\
    MODAL
\*------------------------------------*/
.modal{
  position: fixed; top: 0;left: 0;
  padding: 20px;
  width: 100%; height: 100%;
  background-color: blue;
  color: white;
  display: none;
  z-index: 2;
}
.modal_inner{height: 100%;}
.modal_title,
.modal_content,
.modal h3,
.modal li{
  font-size: 2em;
  color: white;
  text-align: left;
}
.modal h3{
  
}

.modal_header{display: none;}
.modal_content li{float: left; margin-right: 20px;}
.modal_content li a{color: white;}
.modal_content li a:hover{color: black;}
.modal.msh .row{
  margin-bottom: 2em;
  padding-top: 0;
}
.modal .modal_close{opacity: 1; pointer-events:auto;}
.modal .modal_close:hover{color: black;}

.modal input{
  color: white;
  font-size: 2em; line-height: 1;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 3px solid;
  padding: 0;
  margin-top: -10px;
}
.modal button[type='submit']{
  color: white;
}

.modal ::-webkit-input-placeholder { color:white; }
.modal ::-moz-placeholder { color:white; }
.modal .article_inner{
  display: inline-block;
  width: 100%;
}
.modal .search-content .row{
  
}
.modal .search-content h2,
.modal .search-content{
  color: white;
  font-size: 16px;
  margin: 0;
  border: none;
}
.modal .search-content{
  height: calc(100vh - 67px);
  overflow-y: auto;
}
.modal .search-content article:hover{
  color: blue;
  background-color: white;
}
.modal .search-content article:hover h2{
  color: blue;
}

#iframe{padding-top: 0;}
#iframe .modal_inner,
#iframe .modal_content{
  display: flex;
  height: 100%;   width: 100%;
}
#iframe iframe{
  margin: auto;
  width:70vw!important;
  height: calc(70vw / 1.77)!important;
}
/*------------------------------------*\
    SEARCH
\*------------------------------------*/
button[type='submit']{
  border: none;
  color: blue;
  background-color: transparent;
}
.morphsearch .morphsearch-input{opacity: 0; width: 0; color: white}
.morphsearch .morphsearch-submit{cursor: pointer;}
.morphsearch .morphsearch-input,
.morphsearch .morphsearch-submit{
  padding: 0;
  vertical-align: top;
  font-size: 1em;
  border:none;
  color: blue;
}

.morphsearch.open{
  position: fixed;top: 51px; left: 0;
  padding: 0 20px;
  height: calc(100% - 58px);
  background-color: white;
  width: 100%;
  text-align: left;
}
.morphsearch-content{
  height: calc(100% - 188px);
  overflow: auto;
}

.morphsearch.open .morphsearch-input,
.morphsearch.open .morphsearch-submit{
  font-size: 7em;
  opacity: 1;
  border-bottom: 3px solid blue;
}
.morphsearch.open .morphsearch-input {
  opacity: 1;
  width: 100%;
}
.morphsearch.open .morphsearch-submit{display: none;}


input[type="search"] { /* reset normalize */
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
  outline: none;
}

.close {
  width: 36px;width: 106px;
  height: 36px;
  position: fixed;
  right: 16px;
  top: 16px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  
  /*-webkit-transform: scale3d(0,0,1);
  transform: scale3d(0,0,1);*/
}

.morphsearch.open .morphsearch-close {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  /*left: 50%;*/
  right: 12px;
  border-radius: 3px;

  background: white;
}

.close:hover.morphsearch-close::before,
.close:hover.morphsearch-close::after {
  opacity: 1;
}

.close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*------------------------------------*\
    SUBMIT
\*------------------------------------*/
.submit .row{padding: 10px 0 0}
.submit input{
    width: 100%;
    padding: 10px;
    color: blue;
    border: 3px solid;
}
.submit .span3 input{width: calc(100% - 10px);}
.submit .span3:not(.last):nth-child(3) input{width: calc(100% - 54px);}

.submit textarea{padding: 10px;}
.submit button{
    border: none;
    color: white;
    height: 44px;
    padding: 10px;
    width: 44px;
    cursor: pointer;
}
.submit button:hover{background: black;}

.submit input[type=submit]{
    background: blue; color: white;
    width: 100%;
    border-color: blue;
}
.submit input[type=submit]:hover{
    color: white; background-color: black; border-color: black;

}

.form-row{position: relative;}
.form-row .hvr{
    position: absolute;
    top: 10px;
    opacity: 0.2;
}
.form-row:hover .hvr{opacity: 1}


.add-row{background: blue; width: 100%!important}
.remove-row{background: red; right: 0;}

.submit ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: blue;
}
.submit ::-moz-placeholder { /* Firefox 19+ */
  color: blue;
}
.submit :-ms-input-placeholder { /* IE 10+ */
  color: blue;
}
.submit :-moz-placeholder { /* Firefox 18- */
  color: blue;
}


/****************************************
  ARCHIVE
 ****************************************/
.archive .article_header{
  background-color: blue;
  color: white;
}
.archive .row:hover a,
.archive .row.currentItemPlaying a{color: white!important;}


@media all and (orientation:portrait) {
  #rotate{display: block}
}
@media all and (orientation:landscape) {
  #rotate{display: none}
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  body{
    font-size: 14px;
  }
  header,
  footer{padding: 10px;}

  header .fiboA{width: 90%;}
  header .fiboB{width: 10%; text-align: right;}
  header .fiboB .span3:nth-child(1){display: none;}
  header .fiboB .span3{width: auto;}
  .morphsearch.open{top: 34px; padding: 0 10px;}
  .morphsearch.open .morphsearch-input, 
  .morphsearch.open .morphsearch-submit{
    font-size: 24px;
  }
  .morphsearch-submit span{display: none;}

  .morphsearch-content{
    height: calc(100% - 63px);
  }

  section{padding: 0 10px; margin-top: 35px;}
  body.video section{margin-top: 34px;}
  .liste_header .fiboB{display: none;}
  .article_header .fiboA{width: 80%;}
  .article_header .fiboB{width: 20%;}
  .article_header .fiboB .share{text-align: right; padding-right: 10px;}
  .article_header .fiboB .share span{display: none}
  .article_header .fiboB .span3:nth-child(1),
  .article_header .fiboB .span3:nth-child(2){display: none;}
  .article_header .fiboB .span3:nth-child(3){
    text-align: right;
    width: 100%;
  }
  .article_content .fiboA,
  .article_footer .fiboA{display: none;}
  .article_content .fiboB,
  .article_footer .fiboB{
    width: 100%;
    padding: 0 10px;
  }
  .ttp{font-size: 12px;}

  #player .controls{padding: 10px;}
  footer{z-index: 3;}
  footer .fiboA,
  footer .fiboB{
    display: block;
    width: 100%;
  }
  footer .fiboA{margin-bottom: 10px;}
  #player .controls span{
    width: 33%;
    text-align: center;
    margin-right: 0;
  }
  #player .controls span.time{width: 100%;text-align: center; margin-top: 10px; display: none;}
   #player .controls .fiboB .span3:nth-child(1){width: 100%;}
   #player .controls .fiboB .span3:nth-child(1) span{width: 100%;}
   #player .controls .fiboB .span3:nth-child(2){display: none;}
   #player .controls .fiboB .span3:nth-child(3){width: 10%; display: none;}
  .modal{top: 0; padding: 20px; height: calc(100% - 60px)}
  .modal h3{font-size: 24px;}
  .close{right: 10px; top: 10px;}

  .sepBlue{height: 2px;}

  section.submit .fiboA{display: none;}
  section.submit .fiboB{width: 100%;}
  .submit button{height: 40px;}
  .article_disqus .fiboA{
    display: none;
  }
  .article_disqus .fiboB{width: 100%;}

  #s_btn span{display: none;}
  .modal input{font-size: 1em;}
  .close{
    height: 26px;
    right: 17px;
    top: 17px;
  }
  .modal .article_header .fiboA{
    width: 100%; padding-right: 0;
    
  }
  .modal .article_header .fiboA h2{
    overflow: hidden;
    -o-text-overflow: ellipsis; /* pour Opera 9 */
    text-overflow: ellipsis; /* pour le reste du monde */
    white-space: nowrap;
  }
  .modal .article_header .fiboB{display: none;}
  .search-content.liste{
    max-height: calc(100vh - 92px);
    overflow: scroll;
  }
}


