div.fiboA
    div.menu
        div.span3
            a(href='https://www.facebook.com/theskateboardsoundtracks' rel='' target='_blank') 
                i.fa.fa-facebook
        div.span3
            a(href='https://twitter.com/Bounews' rel='' target='_blank') 
                i.fa.fa-twitter
div.fiboB
        div.span3
            a(href='/contact' rel='ajax') Contact
        div.span3
            a(href='/legal' rel='ajax') About
        div.span3
            a(href='/submit' rel='') 
                i.fa.fa-pencil  
                span  Submit 

  
div#player.offside_bottom
    div.timeline.anime
        div.timeline_bg
        div.buffer
        div.scrubber
        div.track_seek

    div.controls.row
        div.fiboA
            span.backward
                i.fa.fa-step-backward
            span.play
                i.fa.fa-play
            span.pause
                i.fa.fa-pause
            span.forward
                i.fa.fa-step-forward
            span.time.align_right
        div.fiboB
            div.span3
                span.track Press ▶ somewhere
            div.span3
                span
            div.span3.align_right.mute
                i.fa.fa-volume-up

include modal
