div.float_right
    .menu
      ul
        li
            a(href='/contact' rel='ajax') contact
        li
            a(href='/legal' rel='ajax') legal notices
  
div#player.offside_bottom
    div.timeline.anime
        div.timeline_bg
        div.buffer
        div.scrubber
        div.track_seek

    div.controls.row
        div.fiboA
            span.backward
                i.fa.fa-step-backward
            span.play
                i.fa.fa-play
            span.pause
                i.fa.fa-pause
            span.forward
                i.fa.fa-step-forward
            span.time.align_right
        div.fiboB
            div.span3
                span.track Press play somewhere
            div.span3
                span
            div.span3.align_right.mute
                i.fa.fa-volume-up

include modal
