div.fiboA   
    h1 
        a(href='/' rel='ajax') #{title}
    
            
div.fiboB
    div.span3 #{description}
    div.span3
    div.span3.align_right
        div#morphsearch.morphsearch
            form(method='post' id='' action='' class='morphsearch-form ')
                input(name='s' class='morphsearch-input ' placeholder='Search...' autocomplete='off')
                button(type='submit' class='morphsearch-submit ')
                    i.fa.fa-search
            div.morphsearch-content.liste
            span.morphsearch-close.close