div.fiboA   
    h1 
        a(href='/') #{title}
    
            
div.fiboB
    div.span3 A place for skateboard music

    div.span3

    div.span3.align_right
        a(href='/s') Search 
            i.fa.fa-search