div.fiboA   
    h1 
        a(href='/' rel='ajax') #{title}
    
            
div.fiboB
    div.span3 #{description}
    div.span3
    div.span3.align_right#s_btn
        span SEARCH  
        i.fa.fa-search
