extends layout

prepend content
    
    section.liste
        div.row.liste_header
            div.fiboA VIDEO
                
            div.fiboB
                div.span3 YEAR 
                    a(href='/sort/year/asc' class='sort' rel='ajax') ↑ 
                    a(href='/sort/year/desc' class='sort' rel='ajax') ↓ 
                div.span3 RATING 
                    a(href='/sort/rating/asc' class='sort' rel='ajax') ↑ 
                    a(href='/sort/rating/desc' class='sort' rel='ajax') ↓ 
            
        div.sepBlue
        div.liste_content
            include liste
        div.list_footer.row
            div.fiboA
                input(type='hidden' value='1' id='page')
                a(href='#' class='btn more') Moar
            div.fiboB
                
