div#modal.modal
	div.modal_inner
		div.modal_header
			div.sh_title
		div.modal_content
			ul
				li
					a(href='#' id='fb')
						i.fa.fa-facebook
				li
					a(href='#' id='tw')
						i.fa.fa-twitter

			
				