div#modal
	div#modal_share.modal
		div.modal_inner
			div.sh_title

	div#modal_search.modal
		div.modal_inner
			form(method='post' id='search' action='')
				input(name='s' placeholder='Video name')
				input(type='submit' value='Go get it')