div.ost_header.row
    div.fiboA.player_ost
        
    div.fiboB
        div.span3 PART
        div.span3 ARTIST
        div.span3 TRACK
each track in video.ost
    if track.artist.indexOf("©Skatevideosite.com") == -1
        include track